.section {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  color: #2e2e2e;
  padding-bottom: 2rem;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 65rem;
  height: 100%;
  position: relative;
  margin-bottom: 18rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.left {
  display: flex;
  flex-direction: row-reverse;

  .info {
    margin-right: 40px;
    h2 {
      left: 250px;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.imageBox {
  width: 470px;
  height: 550px;
  z-index: 10;

  img {
    width: 100%;
    max-width: 800px;
    height: 450px;
    object-fit: cover;
    transition: all 0.2s;
    transform: scale(1.1);

    &:hover {
      transform: scale(1.2);
    }
  }
}

.info {
  max-width: 100%;
  margin-left: 50px;

  @media screen and (max-width: 768px) {
    max-width: 80vw;
    margin: auto;
    margin-left: none;
  }
  h2 {
    font-size: clamp(10rem, 7.1429rem + 14.2857vw, 20rem);
    color: white;
    font-weight: 100;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #391b57;
    line-height: 60%;
    position: absolute;
    left: 350px;
    top: -40px;
    z-index: -1;

    @media screen and (max-width: 768px) {
      left: 280px;
    }
  }
  h1 {
    font-size: clamp(1.8rem, 1.5143rem + 1.4286vw, 2.8rem);
    margin-top: 8rem;
    font-weight: 800;
  }
  p {
    margin-top: 15px;
  }
  hr {
    margin-top: 20px;
    border-width: 0 0 1px;
    $color: gray;
    color: $color;
    border-image: linear-gradient(
        90deg,
        rgba($color, 0),
        rgba($color, 1) 50%,
        rgba($color, 0) 100%
      )
      0 0 100%;
    border-style: solid;
  }
}

.stack {
  word-spacing: 15px;
  color: #391b57;
  font-weight: 600;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-top: 25px;

  li {
    a {
      color: #391b57;
      transition: all 0.4s;
      font-size: 2.2rem;

      svg {
        transition: all 0.2s;
        &:hover {
          transform: scale(1.2);
          color: #5b4d69;
        }
      }
    }
  }
}

.description {
  font-size: 1.1rem;
}

.head {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  p {
    margin-top: 9.5rem;
    margin-left: 1rem;
    color: rgb(178, 178, 178);
    font-weight: 700;

    @media screen and (max-width: 500px) {
      margin-top: 0;
      margin-left: 0;
    }
  }
}

.seeMore {
  font-size: clamp(1rem, 0.9143rem + 0.4286vw, 1.3rem);
  padding: 1em 2em;
  border: 2px solid #141c3a;
  color: #141c3a;
  background-color: transparent;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background-color: #141c3a;
    color: white;
  }
  span {
    margin-right: 8px;
  }
}
